<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="appName">${spring.application.name}</Property>
        <Property name="LOG_ROOT">log</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="logFormat">
            %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN} [%X{X-B3-TraceId},%X{X-B3-SpanId}] [${sys:PID}] [%t]
            %logger{40}: %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
        </Property>
    </Properties>

    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${logFormat}"/>
        </Console>

        <!--log4j2的按天分日志文件,主要看日志文件精确到哪一位和TimeBasedTriggeringPolicy的interval大小，这里是按天分-->
        <RollingFile name="file"
                     fileName="${LOG_ROOT}/${appName}/${appName}.log" append="true"
                     filePattern="${LOG_ROOT}/${appName}/${appName}.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${logFormat}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <!--
                      * only files in the log folder, no sub folders (Because maxDepth = 1)
                      * only rolled over log files (name match)
                      * either when more than 6 matching files exist or when the max disk usage is exceeded
                -->
                <Delete basePath="${LOG_ROOT}/${appName}" maxDepth="1">
                    <IfFileName glob="*${appName}.log.*">
                        <IfAny>
                            <IfAccumulatedFileCount exceeds="6"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </appenders>

    <loggers>
        <!--<Logger name="RocketmqClient" level="error" additivity="false">-->
        <!--<appender-ref ref="console"/>-->
        <!--<appender-ref ref="file"/>-->
        <!--</Logger>-->
        <!--<Logger name="org.mybatis" level="INFO"/>-->
        <!--<Logger name="java.sql" level="INFO"/>-->
        <!--<Logger name="com.alibaba.druid" level="WARN"/>-->
        <root level="info">
            <AppenderRef ref="file"/>
            <AppenderRef ref="console"/>
        </root>
    </loggers>
</configuration>
